/* General Body Styling */
body {
    font-family:Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
 }
 
 /* Navigation Bar Styling */
 .nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color:#323848;
 }
 
 .nav a {
    text-decoration: none;
    color: white;
    margin-left: 2vw;
    font-size: 1em;
    padding-bottom: 5px;
    position: relative;
    font-family: Georgia, serif;
    font-weight: bold;
    

 }
 
 .nav a:hover {
    border-bottom: 3px solid white;
 }
 
