
 
 /* Title Styling */
 h1 {
    text-align: center;
    padding: 2vh;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-family: Georgia, serif;
 }
 
 /* Project Items Styling */
 .itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 90vw;
    padding: 10px;
    gap: 2%;
 }
 
 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    position: relative;
    min-height: 300px;
    height: 30vh;
    width: 30%;
    margin: 1%;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: Verdana, sans-serif;
    
 }
 .overlay img {
   pointer-events: none;
 }
 
 .innerHover {
   pointer-events: none;
 }
 
 .item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
 }
 
 /* Overlay and Image Styling */
 .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0;
    overflow: hidden;
 }
 
 .overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    border-radius: 0px;
 }
 
 .item:hover .overlay img {
    filter: blur(2px);
 }
 
 .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 100%);
    display: none;
 }
 
 .item:hover .overlay::before {
    display: block;
 }
 
 /* Hover Info (Technologies and Description) */
 .innerHover {
    display: none;
    position: absolute;
    top: 5px;
    left: 15px;
    z-index: 2;
    color: white;
 }
 
 .item:hover > .innerHover {
    display: block;
 }
 
 /* Title Under Each Project */
 .item .titlep {
    margin: 15px 0;
    height: max-content;
    font-size: 1.3em;
    text-align: center;
    color: #333;
    font-family: Georgia,serif;
    font-weight: bold;
 }
 
 /* Social Media Icons Styling */
 #socials {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #socials a {
    padding: 5px;
    height: 75px;
    width: 75px;
    border-radius: 0;
    transition: transform 0.3s ease;
 }
 
 #socials img:hover {
    transform: scale(1.1);
 }
 
 /* Responsive Adjustments */
 @media (max-width: 1500px) {
    .item {
       width: 45%;
       height: 30vh;
       font-size: .9em;
    }
 }
 
 @media (max-width: 800px) {
    .nav {
       flex-direction: column;
       text-align: center;
    }
 
    .itemsContainer {
       width: 100%;
       gap: 3%;
    }
 
    .item {
       width: 95%;
       font-size: 90%;
    }
 
    .item .titlep {
       font-size: 1.1em;
    }
 
    .overlay {
       height: 200px;
    }
 
    h1 {
       font-size: 2em;
    }
 }
 